.footer {
  display: flex;
  justify-content: space-between;

  padding: 5rem 3rem 3rem;

  color: white;
  background-color: black;
}

.footer__content {
  width: 40%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__title {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Abhaya Libre", serif;
}

.footer__text,
.footer__label {
  font-size: 1.125rem;
}

.footer__label {
  margin-top: auto;
  font-weight: 700;
}

.footer__contacts {
  width: 40%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__contacts__heading {
  font-size: 1.75rem;
  font-weight: 600;
}

.footer__form {
  position: relative;
}

.footer__input {
  width: 100%;

  padding: 1rem 0;

  font-size: 1.2rem;
  color: white;

  background-color: black;
  border: 1px solid transparent;
  border-bottom: 1px solid white;
}

.footer__input::placeholder {
  padding-left: 0;
  opacity: 1;
}

.footer__button {
  position: absolute;
  right: 0;
  top: 5px;

  font-size: 3rem;
  color: white;

  border: 1px solid transparent;
  background-color: transparent;

  cursor: pointer;
}

.footer__links {
  width: 70%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1rem 5rem;

  list-style: none;

  li {
    width: fit-content;
    cursor: pointer;
  }

  li:hover {
    text-decoration: underline;
  }
}

.footer__socials {
  display: flex;
  align-items: end;
  gap: 1.5rem;

  font-size: 1.5rem;

  a {
    color: white;
    text-decoration: none;
  }
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
  .footer {
    flex-direction: column;

    gap: 4rem;
  }

  .footer__content {
    width: 100%;
  }

  .footer__contacts {
    width: 100%;
  }

  .footer__socials {
    font-size: 3rem;
  }
}
